* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #23252C;
}

.App-container {
  display: flex;
  justify-content: center;  
}

.App {  
  max-width: 317px;
  height: auto;
  border-radius: 1rem;
  background-color: #1A1B21;
}

.portrait > img {
  max-width: 317px;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}

.name {
  display: flex;
  justify-content: center;   
}

.name > h1 {
  padding-top: 1rem;
  color: #FFF;
  font-size: 1.6rem;  
}

.title {
  display: flex;
  justify-content: center;
}

.title > h2 {
  color: #045FD0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.email {
  display: flex;
  justify-content: center;
}

.email > button {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.4rem 2.5rem;  
  font-size: 0.9rem;
  cursor: pointer;
}

.email-icon {
  padding-right: 0.5rem;
}

.about {    
  padding: 1.6rem 1.6rem 0 1.6rem;
  color: #FFF;
}

.about > h1 {
  font-size: 1.1rem;
}

.about > p {  
  padding-top: 0.25rem;
  font-size: 0.8rem;
}

.interests {    
  padding: 1.6rem 1.6rem 0 1.6rem;
  color: #FFF;
}

.interests > h1 {
  font-size: 1.1rem;
}

.interests > p {
  padding-top: 0.25rem;
  font-size: 0.8rem;  
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding: 0.9rem 0 0.5rem 0;
  border-radius: 0 0 1rem 1rem;
  gap: 1.5rem;
  background-color: #161619; 
  font-size: 1.6rem;  
}